#for $result in $results['check_data']['fail']
<h1>
    #if $result.return_code == 0
        <span style="color: green">PASS</span>: ${result.script}
    #else
        <span style="color: red">FAIL</span>: ${result.script}
    #end if
</h1>
<textarea style="font-family:monospace; height:250px; width: 800px">${result.output}</textarea>
#end for
#for $result in $results['check_data']['pass']
<h1>
    #if $result.return_code == 0
        <span style="color: green">PASS</span>: ${result.script}
    #else
        <span style="color: red">FAIL</span>: ${result.script}
    #end if
</h1>
<textarea style="font-family:monospace; height:250px; width: 800px">${result.output}</textarea>
#end for
